/* ========================================= */
/* $TABLE OF CONTENTS                        */
/* ========================================= */

/*

	> $WHITE - #FFF
	> $MUTED GRAY - #999
	> $LIGHT GRAY - #D4D4D4
	> $GRAY - #999999
	> $DARK GRAY - #4D4D4D
	> $DARKER GRAY - #323232
	> $DARKER GRAY SHADE - #2E2E2E
	> $TRANSPARENT BLACK - #000000
	> $BLUE ( MAIN ) - #0AF
	> $DARK BLUE - #30B2F2
	> $DARKER BLUE - #1F2426
	> $BALE BLUE - #DFEAF0
	> $SOCIAL LINKS
	> $GRADIENT HOME THEME -- V1.1

*/

/* ========================================= */
/*	$WHITE - #FFF                             */
/* ========================================= */

/* #WHITE COLOR
/* ====================== */

/* buttons */
.btn,

/* social navbar */
#home .hollow-social-menu a:hover,
.hollow-social-menu a:hover,

/* tabs list */
.nav-tabs.tabs-list > li.nav-item > a.active,
.nav-tabs.tabs-list > li.nav-item > a:hover,
.nav-tabs.tabs-list > li.nav-item > a:focus,

/* resume */
.education-timeline .timeline-box span,
.education-timeline .timeline-box small,
.custom-tooltip,

/* work */
.portfolio-item a,
.portfolio-item a:hover {
  color: #fff;
}

/* #WHITE BACKGROUND
/* ====================== */

/* preloader */
#preloader,

/* resume */
.timeline-item-bullet {
  background-color: #fff;
}

/* #TRANSPARENT WHITE BACKGROUND
/* ============================= */

/* resume */
.education-timeline .timeline-box small,
.custom-tooltip span {
  background-color: rgba(255, 255, 255, 0.1);
}

/* ========================================= */
/*	$MUTED GRAY - #999                     */
/* ========================================= */

/* #MUTED GRAY BORDER
/* =================== */

/* main section title */
.main-title__left,

/* secondary title */
.secondary-title__line::after,

/* prrofile */
.info-list > li,

/* resume */
.timeline-rail,
.timeline-item-bullet {
  border-color: #999;
}

/* #MUTED GRAY COLOR
/* =================== */

/* main title */
.main-title i {
  color: #999;
}

/* #MUTED GRAY BACKGROUNDS
/* ======================= */

/* skills */
.skill-meter > div {
  background-color: #999;
}

/* ========================================= */
/*	$LIGHT GRAY - #D4D4D4                    */
/* ========================================= */

/* #GRAY COLOR
/* ============== */

/* footer */
footer .hollow-social-menu a,
.copyright-holder {
  color: var(--light-gray);
}

/* ========================================= */
/*	$GRAY - #4d4d4d                             */
/* ========================================= */

/* #GRAY COLOR
/* ============== */

/* main title */
.main-title em {
  color: var(--dark-gray);
}

body,

/* main title */
.main-title,
.main-title__right p,

/* social menu */
.bare-social-menu a,

/* secondary title */
.secondary-title__icon.h5 {
  color: var(--dark-gray);
}

/* #GRAY BACKGROUND
/* ================== */

/* resume */
.timeline-rail::before,
.timeline-rail::after {
  background-color: var(--dark-gray);
}

/* ========================================= */
/*	$DARK GRAY - #4D4D4D                      */
/* ========================================= */

/* headings */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: var(--dark-gray);
}

/* ========================================= */
/*	$DARKER GRAY - #323232                    */
/* ========================================= */

/* footer */
footer {
  background-color: var(--darker-gray);
}

/* ========================================= */
/*	$DARKER GRAY SHADE - #2E2E2E              */
/* ========================================= */

.copyright-holder {
  background-color: var(--darker-gray-shade);
}

/* ========================================= */
/*	$TRANSPARENT BLACK - #000000              */
/* ========================================= */

/* preloader */
#preloader::after {
  background-color: rgb(51, 186, 254);
}

/* home */
#home .huge,

/* parallax home */
.profession-box h5 {
  color: rgba(0, 0, 0, 0.85);
}

/* home */
#home .hollow-social-menu a {
  color: rgba(0, 0, 0, 0.6);
}

/* hero */
.hero-header .overlay {
  background-color: rgba(0, 0, 0, 0.65);
}

/* ========================================= */
/*	$BLUE ( MAIN ) - #0AF                    */
/* ========================================= */

/* #BLUE COLOR
/* ======================== */

/* dark blue button  */
.btn--main-inverted:hover,

/* parallax home */
.title-box,
.profession-box h5,

/* resume */
.timeline .plus-icon,
.education-timeline .timeline-box,
.custom-tooltip,

/* skills */
.skill-meter > div.on,

/* work */
.item-caption {
  background-color: var(--main-blue);
}

/* #BLUE BACKGROUND
/* ======================== */

a,

/* main title */
.main-title h2,

/* navigation */
.navbar .navbar-nav > li > a:hover,

/* resume */
.timeline-info-list,

/* skills */
.colored-bullets li::before {
  color: var(--main-blue);
}

/* #BLUE BORDER
/* ======================== */

/* parallax home */
.title-box::after,
.profession-box::after,
.profession-box::before,
.profession-box h5::after,

/* skills */
.custom-tooltip::after,

input:focus,
textarea:focus,
select:focus,
.form-control:not([readonly]):focus {
  border-color: var(--main-blue);
}

@media (min-width: 992px) {
  .navbar .navbar-nav > li > a:hover {
    border-color: var(--main-blue);
  }
}

/* ========================================= */
/*	$DARK BLUE - #30B2F2                      */
/* ========================================= */

a:hover {
  color: var(--dark-blue);
}

/* portfolio */
.portfolio-item .btn--main-inverted:hover {
  background-color: var(--dark-blue);
}

/* ========================================= */
/*	$DARKER BLUE - #1F2426                    */
/* ========================================= */

/* #DARKER BLUE COLOR
/* ======================== */

/* tabs list */
.nav-tabs.tabs-list li.nav-item a,

/* portfolio */
.portfolio-item h6,
.portfolio-item em {
  color: #fff;
}

/* #DARKER BLUE BACKGROUND
/* ======================== */

/* tabs list */
.nav-tabs.tabs-list li.nav-item a.active,
.nav-tabs.tabs-list li.nav-item a:hover,
.nav-tabs.tabs-list li.nav-item a:focus,
.portfolio-icon-btn i,

/* dark blue buttons */
.btn--main-inverted {
  background-color: var(--darker-blue);
  color: white;
}

/* #DARKER BLUE BORDER
/* ======================== */

/* tabs list */
.nav-tabs.tabs-list li.nav-item a {
  border-color: var(--darker-blue) !important;
  color: var(--darker-blue);
}

/* ========================================= */
/*	$BALE BLUE - #DFEAF0                      */
/* ========================================= */

/* home */
#home,

/* profile */
.profile-image-holder {
  background-color: var(--bale-blue);
}

/* ========================================= */
/*	$SOCIAL LINKS                             */
/* ========================================= */

/* color */
.twitter-color:hover,
.tweets-list .fa {
  color: #00aced;
}
.google-plus-color:hover {
  color: #dd4b39;
}
.behance-color:hover {
  color: #1769ff;
}
.dribbble-color:hover {
  color: #ea4c89;
}
.github-color:hover {
  color: #222;
}
.facebook-color:hover {
  color: #3b5998;
}
.linkedin-color:hover {
  color: #007bb6;
}
.wordpress-color:hover {
  color: #1e8cbe;
}
.pencil-color:hover {
  color: #222;
}
.stack-overflow-color:hover {
  color: #f48024;
}
.medium-color:hover {
  color: #222;
}

/* background */
.twitter-bg:hover {
  background-color: #00aced;
  border-color: #00aced;
}
.google-plus-bg:hover {
  background-color: #dd4b39;
  border-color: #dd4b39;
}
.behance-bg:hover {
  background-color: #1769ff;
  border-color: #1769ff;
}
.dribbble-bg:hover {
  background-color: #ea4c89;
  border-color: #ea4c89;
}
.github-bg:hover {
  background-color: #222;
  border-color: #222;
}
.facebook-bg:hover {
  background-color: #3b5998;
  border-color: #3b5998;
}
.linkedin-bg:hover {
  background-color: #007bb6;
  border-color: #007bb6;
}
.wordpress-bg:hover {
  background-color: #1e8cbe;
  border-color: #1e8cbe;
}
.pencil-bg:hover {
  background-color: #222;
  border-color: #222;
}
.stack-overflow-bg:hover {
  background-color: #f48024;
  border-color: #f48024;
}
.medium-bg:hover {
  background-color: #222;
  border-color: #fff;
}

/* shadow */
.twitter-bg:hover {
  -webkit-box-shadow: 0 0 0 0 #00aced;
  box-shadow: 0 0 0 0 #00aced;
}
.google-plus-bg:hover {
  -webkit-box-shadow: 0 0 0 0 #dd4b39;
  box-shadow: 0 0 0 0 #dd4b39;
}
.behance-bg:hover {
  -webkit-box-shadow: 0 0 0 0 #1769ff;
  box-shadow: 0 0 0 0 #1769ff;
}
.dribbble-bg:hover {
  -webkit-box-shadow: 0 0 0 0 #ea4c89;
  box-shadow: 0 0 0 0 #ea4c89;
}
.github-bg:hover {
  -webkit-box-shadow: 0 0 0 0 #222;
  box-shadow: 0 0 0 0 #222;
}
.facebook-bg:hover {
  -webkit-box-shadow: 0 0 0 0 #3b5998;
  box-shadow: 0 0 0 0 #3b5998;
}
.linkedin-bg:hover {
  -webkit-box-shadow: 0 0 0 0 #007bb6;
  box-shadow: 0 0 0 0 #007bb6;
}
.wordpress-bg:hover {
  -webkit-box-shadow: 0 0 0 0 #1e8cbe;
  box-shadow: 0 0 0 0 #1e8cbe;
}
.pencil-bg:hover {
  -webkit-box-shadow: 0 0 0 0 #222;
  box-shadow: 0 0 0 0 #222;
}
.stack-overflow-bg:hover {
  -webkit-box-shadow: 0 0 0 0 #f48024;
  box-shadow: 0 0 0 0 #f48024;
}
.medium-bg:hover {
  -webkit-box-shadow: 0 0 0 0 #222;
  box-shadow: 0 0 0 0 #fff;
}

/* ========================================= */
/* $GRADIENT HOME THEME                      */
/* ========================================= */

/* background gradient home */
.gradient {
  background: #545072; /* Old browsers */
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    #545072 0%,
    #2a2a30 100%
  ); /* FF3.6+ */
  background: -webkit-gradient(
    radial,
    center center,
    0px,
    center center,
    100%,
    color-stop(0%, #545072),
    color-stop(100%, #2a2a30)
  ); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    #545072 0%,
    #2a2a30 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(
    center,
    ellipse cover,
    #545072 0%,
    #2a2a30 100%
  ); /* Opera 12+ */
  background: -ms-radial-gradient(
    center,
    ellipse cover,
    #545072 0%,
    #2a2a30 100%
  ); /* IE10+ */
  background: radial-gradient(
    ellipse at center,
    #545072 0%,
    #2a2a30 100%
  ); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#545072', endColorstr='#2a2a30',GradientType=1 );
}
