:root {
  --muted-gray: #999;
  --light-gray: #d4d4d4;
  --gray: #999999;
  --dark-gray: #4d4d4d;
  --darker-gray: #323232;
  --darker-gray-shade: #2e2e2e;
  --main-blue: #0af;
  --dark-blue: #30b2f2;
  --darker-blue: #1f2426;
  --bale-blue: #dfeaf0;
}
