<!-- #EDUCATION -->
<div class="main-block__padder text-left">
  <!-- @EDUCATION TITLE -->
  <div class="table">
    <div class="table-cell h5 secondary-title__icon">
      <i class="fa fa-graduation-cap"></i>
    </div>
    <div class="table-cell secondary-title__text">
      <h5 class="text-capitalize">education</h5>
    </div>
    <div class="table-cell secondary-title__line"></div>
  </div>

  <!-- @EDUCATION TIMELINE -->
  <div class="main-block__sub-padder">
    <div class="timeline education-timeline">
      <!-- DASHED LINE -->
      <div class="timeline-rail"></div>

      <!-- TIMELINE ITEMS -->
      <div class="timeline-items list-gutter-md">
        {{ range $.Site.Data.education }}
          <!-- ITEM -->
          <div class="clearfix timeline-item">
            <!-- TOOLTIP - BULLET - BOX -->
            <div class="pull-left clearfix text-center">
              <!-- TOOLTIP - BULLET -->
              <div class="inline-block v-middle">
                <!-- TOOLTIP -->
                <div
                  class="custom-tooltip bold text-uppercase small inline-block v-middle hidden-xs"
                  style="visibility: visible; animation-name: fadeInLeft;"
                >
                  <span>
                    <i class="fa fa-clock-o normal"></i>
                  </span>
                  {{ .item.dates }}
                </div>
                <div class="timeline-item-bullet inline-block v-middle"></div>
              </div>
            </div>
            <!-- TIMELINE ITEM CONTENT -->
            <div
              class="no-overflow timeline-item-info"
              style="visibility: visible; animation-name: fadeInRight;"
            >
              <h6 class="text-capitalize lh">{{ .item.degree }}</h6>
              <ul
                class="list-inline list-gutter-xs em serif text-capitalize sm-padder timeline-info-list"
              >
                <li>{{ .item.name }}</li>
                <li>•</li>
                <li>{{ .item.location }}</li>
              </ul>
              <p class="padder">
                {{ .item.description }}
              </p>
            </div>
          </div>
        {{ end }}
      </div>
      <!-- END EDUCATION TIMELINE ITEMS -->
    </div>
  </div>
  <!-- #END EDUCATION TIMELINE -->
</div>
<!-- @END EDUCATION -->
