<!-- #EXPERIENCE -->
<div class="main-block__padder text-start">
  <!-- @EXPERIENCE TITLE -->
  <div class="table">
    <div class="table-cell h5 secondary-title__icon">
      <i class="fa fa-flask"></i>
    </div>
    <div class="table-cell secondary-title__text">
      <h5 class="text-capitalize">experience</h5>
    </div>
    <div class="table-cell secondary-title__line"></div>
  </div>

  <!-- @EXPERIENCE TIMELINE -->
  <div class="main-block__sub-padder">
    <div class="timeline">
      <!-- DASHED LINE -->
      <div class="timeline-rail"></div>

      <!-- TIMELINE ITEMS -->
      <div class="timeline-items list-gutter-md">
        {{ range $.Site.Data.experience }}
          <!-- ITEM -->
          <div class="clearfix timeline-item">
            <!-- TOOLTIP - BULLET - BOX -->
            <div class="pull-left clearfix text-center">
              <!-- TOOLTIP - BULLET -->
              <div class="inline-block v-middle">
                <!-- TOOLTIP -->
                <div
                  class="
                  custom-tooltip
                  bold
                  text-uppercase
                  small
                  inline-block
                  v-middle
                  d-none
                  d-md-inline-block
                "
                  style="visibility: visible; animation-name: fadeInLeft">
                  <span>
                    <i class="fa fa-clock-o normal"></i>
                  </span>
                  {{ .item.dates }}
                </div>
                <div class="timeline-item-bullet inline-block v-middle"></div>
              </div>
              <div
                class="
                timeline-box
                text-uppercase
                inline-block
                v-middle
                d-none
                d-md-inline-block
              "
                style="background-image: url('assets/images/companies/{{ .item.image }}'); visibility: visible; animation-name: fadeInRight;"></div>
            </div>
            <!-- TIMELINE ITEM CONTENT -->
            <div
              class="no-overflow timeline-item-info"
              style="visibility: visible; animation-name: fadeInRight">
              <h6 class="text-capitalize lh">
                {{ .item.position }}
                <span class="d-md-none">({{ .item.dates }})</span>
              </h6>
              <ul
                class="
                list-inline list-gutter-xs
                serif
                text-capitalize
                sm-padder
                timeline-info-list
              "
                \>
                <li class="list-inline-item">{{ .item.company }}</li>
                <li class="list-inline-item">•</li>
                <li class="list-inline-item">{{ .item.location }}</li>
              </ul>
              <p class="xs-padder">{{ .item.description }}</p>
              <ul class="duties-list">
                {{ range $duty := .item.duties }}
                  <li>{{ $duty }}</li>
                {{ end }}
              </ul>
            </div>
          </div>
        {{ end }}
      </div>
    </div>
  </div>
  <!-- @END EXPERIENCE TIMELINE -->
</div>
<!-- #END EXPERIENCE -->
