<!-- ========================================= -->
<!-- $RESUME SECTION                           -->
<!-- ========================================= -->

<section id="resume" class="main-block">
  <div class="container text-center">
    <!-- #RESUME TITLE -->
    <div class="main-title text-start">
      <div class="main-title__inner">
        <div class="text-end main-title__left">
          <i class="fa fa-book mega"></i>
          <h2 class="text-uppercase heavy lh padder">resume</h2>
          <em class="h5 serif em text-capitalize regular"></em>
        </div>
        <div class="main-title__right">
          <p class="serif em regular h6">
            Anytime ready to face new challanges.
            <a href="/assets/Batbayar_CV.pdf">
              Could download my resume as PDF.
            </a>
          </p>
        </div>
      </div>
    </div>

    {{ partial "resume/experience.html" . }}
    {{ partial "resume/education.html" . }}
  </div>
</section>
