<footer class="text-center secondary-block-spacer">
  <div class="xlg-padder">
    <ul class="list-inline hollow-social-menu h5 list-gutter-xs">
      {{ range $.Site.Data.socials }}
        <li class="list-inline-item">
          <a
            href="{{ .item.link }}"
            class="sm-rounded-box {{ .item.name }}-bg"
            aria-label="{{ .item.name }}">
            <i class="fa fa-{{ .item.name }}"></i>
          </a>
        </li>
      {{ end }}
    </ul>
  </div>

  <div class="xlg-padder text-capitalize">
    <div class="well-sm copyright-holder">
      <p>{{ $.Site.Title }} @ {{ now.Year }}</p>
    </div>
  </div>
</footer>
