<head>
  <meta charset="UTF-8">
  <meta name="description" content="{{ $.Site.Data.general.site_description }}">
  <meta name="keywords" content="{{ $.Site.Data.general.site_keywords }}">
  <meta name="author" content="{{ $.Site.Title }}">
  <meta name="robots" content="index, follow">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2">

  <title>{{ $.Site.Title }}</title>
  <link rel="manifest" href="/manifest.json">
  <link rel="icon" type="image/png" href="/assets/images/favicon.png">
  {{ partial "style" . }}
</head>
