<!-- ========================================= -->
<!-- $HEADER SECTION                             -->
<!-- ========================================= -->

<section id="home" class="text-center bg-image no-overflow" style="background-image: url('assets/images/backgrounds/home.jpg')" data-stellar-background-ratio="0.5">

  <!-- #OVERLAY -->
  <div class="overlay pattern-overlay"></div>

  <div class="container text-center">

    <!-- FULLSCREEN HOLDER -->
    <div id="parallax-home" class="fullscreen inline-block">

      <!-- TABLE LAYOUT -->
      <div class="table" style="height: 100%">

        <!-- TABLE CELL -->
        <div class="table-cell v-middle wow fadeIn">

          <!-- #HOME NAME -->
          <h1 class="huge text-uppercase title-box">Batbayar Sukhbaatar</h1>

          <!-- #HOME PROFESSION NAME -->
          <div class="table xs-padder profession-box">
            <div class="table-cell">
              <h5 class="text-capitalize semi-bold lh">Full-stack web developer</h5>
            </div>
          </div>

        </div>

      </div>

    </div>

  </div>
</section>