<section id="navigation">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
      <!-- #NAVIGATION HIRE BUTTON -->
      <a
        href="mailto:batbayar.sukhbaatar@gmail.com"
        class="btn btn-hire btn--main-inverted">
        <i class="fa fa-envelope"></i>
        <span>Send Email</span>
      </a>
      <!-- #NAVIGATION TOGGLE BUTTON -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbar-collapse-1"
        aria-controls="navbar-collapse-1"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- #NAVIGATION MENU -->
      <div class="collapse navbar-collapse" id="navbar-collapse-1">
        <div class="me-auto"></div>
        <ul class="navbar-nav text-uppercase bold small">
          <li class="nav-item">
            <a class="nav-link" href="/#home">
              <i class="fa fa-home fa-fw"></i>
              <span>home</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#profile">
              <i class="fa fa-male fa-fw"></i>
              <span>profile</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#resume">
              <i class="fa fa-book fa-fw"></i>
              <span>resume</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#portfolio">
              <i class="fa fa-briefcase fa-fw"></i>
              <span>work</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#skills">
              <i class="fa fa-pie-chart fa-fw"></i>
              <span>skills</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://baagiidev.medium.com/">
              <i class="fa fa-briefcase fa-fw"></i>
              <span>blog</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</section>
