<!-- ========================================= -->
<!-- $PORTFOLIO SECTION                        -->
<!-- ========================================= -->

<section id="portfolio" class="main-block">
  <div class="container text-center">

    <!-- #PORTFOLIO TITLE -->
    <div class="main-title text-left wow fadeIn">
      <div class="main-title__inner">
        <div class="text-right main-title__left">
          <i class="fa fa-briefcase mega"></i>
          <h2 class="text-uppercase heavy lh padder">work</h2>
          <em class="h5 serif em text-capitalize regular">projects</em>
        </div>
        <div class="main-title__right">
          <p class="serif em regular h6">
            I prefer creativity over hard work. Hard working is good but it is useless if there is no creativity and joy.
          </p>
        </div>
      </div>
    </div>

  </div>

  <!-- #PORTFOLIO CONTENT -->
  <div class="text-center">

    <!-- #PORTFOIO ITEMS -->
    <div class="main-block__sub-padder">
      <div class="portfolio-items clearfix">
        {{ range $.Site.Data.portfolio }}
        <!-- PORTFOLIO ITEM -->
        <div class="portfolio-item"
             style="background-image: url('assets/images/work/thumbnails/{{ .item.image }}');"
        >
          <div class="item-caption">
            <div class="table">
              <div class="table-cell">
                <a href="/assets/images/work/large/{{ .item.image }}" class="zoom-btn plus-icon plus-icon-big btn--main-inverted" aria-label="+"></a>
                <a href="{{ .item.link }}" class="btn-icon portfolio-icon-btn btn--main-inverted" rel="noopener noreferrer" target="_blank" aria-label="link">
                  <i class="fa fa-link"></i>
                </a>
                <h6 class="text-uppercase normal md-padder">{{ .item.name }}</h6>
                <em class="serif">{{ .item.description }}</em>
              </div>
            </div>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </div>

</section>
