<section id="profile" class="main-block">
  <div class="container text-center">
    <!-- #PROFILE TITLE -->
    <div class="main-title text-start">
      <div class="main-title__inner">
        <div class="text-end main-title__left">
          <i class="fa fa-user mega"></i>
          <h2 class="text-uppercase heavy lh padder">profile</h2>
        </div>
        <div class="main-title__right">
          <p class="serif em regular h6">
            I am passionate about developing web applications and mobile
            applications, from frontend to backend, as well as mentoring fellow
            developers.
          </p>
        </div>
      </div>
    </div>

    <!-- #PROFILE CONTENT -->
    <div class="row main-block__padder text-start">
      <!-- #PROFILE PHOTO -->
      <div class="col-lg-4 order-2 col-md-6 col-lg-push-4 text-center">
        <div class="inline-block photo-column-inner">
          <div class="xlg-rounded-box profile-image-holder center-block">
            <img
              src="/assets/images/avatar.jpg"
              class="img-fluid"
              style="width: 100%"
              alt="Profile image" />
          </div>
        </div>
      </div>

      <!-- #PROFILE PERSONAL INFO -->
      <div class="col-lg-4 order-3 col-md-6 col-lg-push-4 info-column">
        <div>
          <h5 class="text-capitalize">personal info</h5>
          <ul class="padder list-unstyled info-list">
            <li>Name : {{ $.Site.Data.general.name }}</li>
            <li>Age : {{ sub now.Year 1991 }} years old</li>
            <li>
              Email :
              <a href="mailto:{{ $.Site.Data.general.email }}">
                {{ $.Site.Data.general.email }}
              </a>
            </li>
          </ul>
          <ul class="list-inline list-gutter-xs padder h5 bare-social-menu">
            {{ range $.Site.Data.socials }}
              <li class="list-inline-item">
                <a
                  href="{{ .item.link }}"
                  class="{{ .item.name }}-color"
                  aria-label="{{ .item.name }}"
                  rel="noopener noreferrer"
                  target="_blank">
                  <i class="fa fa-{{ .item.name }}"></i>
                </a>
              </li>
            {{ end }}
          </ul>
        </div>
      </div>

      <!-- #PROFILE STORY -->
      <div class="col-lg-4 order-1 col-12 text-start story-column">
        <div>
          <h5 class="text-capitalize">Summary</h5>
          <p class="padder">
            Batbayar has been working as a software engineer for
            {{ sub now.Year 2014 }} years. He finds the daily challenges and
            continuous learnings in full-stack development to be highly
            rewarding. This approach provides him with a diverse range of
            opportunities for both personal and professional growth.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
