{{ $jquery := resources.Get "script/libs/jquery-1.12.4.min.js" }}
{{ $modernizr := resources.Get "script/libs/modernizr-latest.min.js" }}
{{ $bootstrap := resources.Get "script/libs/bootstrap.min.js" }}
{{ $libJS := slice $jquery $modernizr $bootstrap | resources.Concat "script/libraries.js" | resources.Minify | resources.Fingerprint }}
<script src="{{ $libJS.Permalink }}"></script>
{{ $PageScroll2id := resources.Get "script/plugins/jquery.malihu.PageScroll2id.min.js" }}
{{ $shuffle := resources.Get "script/plugins/jquery.shuffle.min.js" }}
{{ $sticky := resources.Get "script/plugins/jquery.sticky-kit.min.js" }}
{{ $magnific := resources.Get "script/plugins/jquery.magnific-popup.min.js" }}
{{ $inview := resources.Get "script/plugins/jquery.inview.min.js" }}
{{ $stellar := resources.Get "script/plugins/jquery.stellar.min.js" }}
{{ $wow := resources.Get "script/plugins/wow.min.js" }}
{{ $pluginJS := slice $PageScroll2id $shuffle $sticky $magnific $inview $stellar $wow | resources.Concat "script/plugins.js" | resources.Minify | resources.Fingerprint }}
<script src="{{ $pluginJS.Permalink }}"></script>
{{ $script := resources.Get "script/script.js" | resources.Minify | resources.Fingerprint }}
<script src="{{ $script.Permalink }}"></script>
