<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="/assets/js/libs/modernizr-latest.min.js"></script>
<script src="/assets/js/libs/bootstrap.min.js"></script>
<script src="/assets/js/plugins/jquery.countTo.min.js"></script>
<script src="/assets/js/plugins/jquery.malihu.PageScroll2id.min.js"></script>
<script src="/assets/js/plugins/jquery.shuffle.min.js"></script>
<script src="/assets/js/plugins/jquery.sticky-kit.min.js"></script>
<script src="/assets/js/plugins/jquery.magnific-popup.min.js"></script>
<script src="/assets/js/plugins/jquery.quovolver.min.js"></script>
<script src="/assets/js/plugins/jquery.inview.min.js"></script>
<script src="/assets/js/script.js"></script>

{{ template "_internal/google_analytics.html" . }}