<!-- @CODING PANEL -->
<div class="row tab-pane active skills-list" id="skill-panel-1">
  <div
    class="
      col-lg-4 col-md-5 col-sm-6 col-lg-offset-2 col-md-offset-1
      text-uppercase
    "
  >
    <h6 class="normal">React</h6>
    <div class="skill-meter xs-padder">
      <div class="on"></div>
      <div class="on"></div>
      <div class="on"></div>
      <div class="on"></div>
      <div class="on"></div>
    </div>
  </div>

  <div class="col-lg-4 col-md-5 col-sm-6 text-uppercase">
    <h6 class="normal">Vue</h6>
    <div class="skill-meter xs-padder">
      <div class="on"></div>
      <div class="on"></div>
      <div class="on"></div>
      <div class="on"></div>
      <div class="on"></div>
    </div>
  </div>

  <div
    class="
      col-lg-4 col-md-5 col-sm-6 col-lg-offset-2 col-md-offset-1
      text-uppercase
    "
  >
    <h6 class="normal">React Native</h6>
    <div class="skill-meter xs-padder">
      <div class="on"></div>
      <div class="on"></div>
      <div class="on"></div>
      <div class="on"></div>
      <div class="on"></div>
    </div>
  </div>

  <div class="col-lg-4 col-md-5 col-sm-6 text-uppercase">
    <h6 class="normal">Angular</h6>
    <div class="skill-meter xs-padder">
      <div class="on"></div>
      <div class="on"></div>
      <div class="on"></div>
      <div class="on"></div>
      <div class="on"></div>
    </div>
  </div>

  <div
    class="
      col-lg-4 col-md-5 col-sm-6 col-lg-offset-2 col-md-offset-1
      text-uppercase
    "
  >
    <h6 class="normal">Node.Js</h6>
    <div class="skill-meter xs-padder">
      <div class="on"></div>
      <div class="on"></div>
      <div class="on"></div>
      <div class="on"></div>
      <div class="on"></div>
    </div>
  </div>

  <div class="col-lg-4 col-md-5 col-sm-6 text-uppercase">
    <h6 class="normal">GraphQL</h6>
    <div class="skill-meter xs-padder">
      <div class="on"></div>
      <div class="on"></div>
      <div class="on"></div>
      <div class="on"></div>
      <div class="on"></div>
    </div>
  </div>

  <div
    class="
      col-lg-4 col-md-5 col-sm-6 col-lg-offset-2 col-md-offset-1
      text-uppercase
    "
  >
    <h6 class="normal">Ruby on Rails</h6>
    <div class="skill-meter xs-padder">
      <div class="on"></div>
      <div class="on"></div>
      <div class="on"></div>
      <div class="on"></div>
      <div class="on"></div>
    </div>
  </div>

  <div class="col-lg-4 col-md-5 col-sm-6 text-uppercase">
    <h6 class="normal">AWS, Terraform</h6>
    <div class="skill-meter xs-padder">
      <div class="on"></div>
      <div class="on"></div>
      <div class="on"></div>
      <div class="on"></div>
      <div></div>
    </div>
  </div>

  <div
    class="
      col-lg-4 col-md-5 col-sm-6 col-lg-offset-2 col-md-offset-1
      text-uppercase
    "
  >
    <h6 class="normal">Vert.x</h6>
    <div class="skill-meter xs-padder">
      <div class="on"></div>
      <div class="on"></div>
      <div class="on"></div>
      <div class="on"></div>
      <div></div>
    </div>
  </div>

  <div class="col-lg-4 col-md-5 col-sm-6 text-uppercase">
    <h6 class="normal">MySQL, PostgreSQL</h6>
    <div class="skill-meter xs-padder">
      <div class="on"></div>
      <div class="on"></div>
      <div class="on"></div>
      <div class="on"></div>
      <div></div>
    </div>
  </div>

  <div
    class="
      col-lg-4 col-md-5 col-sm-6 col-lg-offset-2 col-md-offset-1
      text-uppercase
    "
  >
    <h6 class="normal">Firebase</h6>
    <div class="skill-meter xs-padder">
      <div class="on"></div>
      <div class="on"></div>
      <div class="on"></div>
      <div></div>
      <div></div>
    </div>
  </div>

  <div class="col-lg-4 col-md-5 col-sm-6 text-uppercase">
    <h6 class="normal">Golang, PHP, Linux etc..</h6>
    <div class="skill-meter xs-padder">
      <div class="on"></div>
      <div class="on"></div>
      <div class="on"></div>
      <div class="on"></div>
      <div></div>
    </div>
  </div>
</div>
