<!-- @KNOWLAGE PANEL -->
<div class="row tab-pane skills-list text-capitalize" id="skill-panel-2">
  <div class="col-md-4 col-sm-6 text-center">
    <ul class="colored-bullets checked-list list-gutter-sm list-unstyled inline-block text-left">
      <li>Backend</li>
      <li>Frontend</li>
      <li>CI/CD process, management</li>
      <li>Desktop application</li>
    </ul>
  </div>
  <div class="col-md-4 col-sm-6 text-center">
    <ul class="colored-bullets checked-list list-gutter-sm list-unstyled inline-block text-left">
      <li>Maintain Cloud Environment</li>
      <li>Infrastructure as a code</li>
      <li>Relational Database</li>
      <li>NoSQL Database</li>
    </ul>
  </div>
  <div class="col-md-4 col-sm-6 text-center">
    <ul class="colored-bullets checked-list list-gutter-sm list-unstyled inline-block text-left">
      <li>Linux servers</li>
      <li>Agile development</li>
      <li>Waterfall development</li>
    </ul>
  </div>
</div>
