<!-- @LANGUAGES PANEL -->
<div class="row tab-pane skills-list" id="skill-panel-4">
  <div class="col-lg-4 col-md-5 col-sm-6 col-lg-offset-2 col-md-offset-1 text-uppercase">

    <!-- SKILL TITLE -->
    <h6 class="normal">english</h6>

    <!-- SKILL METER -->
    <div class="skill-meter xs-padder">
      <div class="on"></div>
      <div class="on"></div>
      <div class="on"></div>
      <div class="on"></div>
      <div></div>
    </div>

  </div>
  <div class="col-lg-4 col-md-5 col-sm-6 text-uppercase">

    <!-- SKILL TITLE -->
    <h6 class="normal">mongolian</h6>

    <!-- SKILL METER -->
    <div class="skill-meter xs-padder">
      <div class="on"></div>
      <div class="on"></div>
      <div class="on"></div>
      <div class="on"></div>
      <div class="on"></div>
    </div>

  </div>
</div>