<!-- @PERSONAL PANEL -->
<div class="row tab-pane skills-list text-capitalize" id="skill-panel-3">
  <div class="col-md-4 col-sm-6 text-center">
    <ul class="colored-bullets checked-list list-gutter-sm list-unstyled inline-block text-left">
      <li>Positive work ethic</li>
      <li>Reliability</li>
    </ul>
  </div>
  <div class="col-md-4 col-sm-6 text-center">
    <ul class="colored-bullets checked-list list-gutter-sm list-unstyled inline-block text-left">
      <li>Self motivation</li>
      <li>Creative</li>
    </ul>
  </div>
  <div class="col-md-4 col-sm-6 text-center">
    <ul class="colored-bullets checked-list list-gutter-sm list-unstyled inline-block text-left">
      <li>Team worker</li>
      <li>Mentoring</li>
    </ul>
  </div>
</div>